*.class
target/
bin/
test-output/

# Package Files #
*.jar
*.war
*.ear

# eclipse #
.classpath
.project
.settings
.mymetadata

# .gitignore for intellij #
*.iml
*.ipr
*.iws
.idea/

.checkstyle

logs/
*.log